{% extends 'base.html.twig' %}

{% block title %}Events Charts{% endblock %}




{% block body %}

    <h1>Events Charts</h1>
    <div class="container">

        <div class="row mt-5">
            <div class="offset-1 col-12">

                <div style="width: 75%">
                    <canvas id="myChart"></canvas>
                </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

        <script>
            Chart.defaults.global.title.display = true;
            Chart.defaults.global.title.text = "REPORTING EVENTS";
        </script>

        <script>

            var ctx = document.getElementById('myChart').getContext('2d');

            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'doughnut',

                // The data for our dataset
                data: {

                    labels: ["Prospects", "Contacts", "Recruter", "Investisseurs"],
                    datasets: [{
                        label: "My First dataset",
                        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                        borderColor: 'rgb(255, 99, 132)',
                        data: [
                            {{ stats.prospect }},
                            {{ stats.contact }},
                            {{ stats.recruter }},
                            {{ stats.investisseur }},

                        ],
                    }]
                },

                // Configuration options go here
                options: {}
            });

        </script>
    </div>
    </div>
    </div>

{% endblock %}
