{% extends 'base.html.twig' %}

{% block body %}

    <main class="container-fluid home">
        <div class="d-flex align-items-center flex-column">
            <div class="text-center btnGroup">
                <a href="/event">
                    <button type="button" class="btn btn-primary bigButton"><h1>Evenements</h1></button>
                </a>
                <a href="#">
                    <button type="button" class="btn btn-secondary bigButton"><h1>Start Up</h1></button>
                </a>
                <a href="#">
                    <button type="button" class="btn btn-primary bigButton"><h1>Services</h1></button>
                </a>
            </div>
        </div>
    </main>

{% endblock %}
