{% extends 'base.html.twig' %}

{% block body %}
<div>
    <main class="container-fluid home">
        <div class="d-flex align-items-center flex-column">
            <div class="text-center btnGroup row">
                <a href="/event">
                    <button type="button" class="btn btn-primary bigButton"><h1>Nos évènements</h1></button>
                </a>
                <div class="spacebetween"></div>
                <a href="#">
                    <button type="button" class="btn btn-primary bigButton"><h1>Nos Startup</h1></button>
                </a>
                <div class="spacebetween"></div>
                <a href="#">
                    <button type="button" class="btn btn-primary bigButton"><h1>Nos services</h1></button>
                </a>
            </div>
        </div>
    </main>
</div>
{% endblock %}
