@import "~bootswatch/dist/united/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/united/bootswatch";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

$sectionSpace : 80px;

@font-face {
    font-family: "body";
    src: url('../../assets/fonts/OpenSans-Regular.ttf');
    src: url('../../assets/fonts/OpenSans-Regular.ttf') format("opentype"),
    url('../../assets/fonts/OpenSans-SemiBold.ttf') format("opentype"),
    url('../../assets/fonts/OpenSans-SemiBoldItalic.ttf') format("opentype"),
    url('../../assets/fonts/OpenSans-Bold.ttf') format("opentype"),
    url('../../assets/fonts/OpenSans-BoldItalic.ttf') format("opentype"),
    url('../../assets/fonts/OpenSans-Light.ttf') format("opentype"),
    url('../../assets/fonts/OpenSans-LightItalic.ttf') format("opentype"),
    url('../../assets/fonts/OpenSans-ExtraBold.ttf') format("opentype"),
    url('../../assets/fonts/OpenSans-ExtraBoldItalic.ttf') format("opentype");
}

@font-face {
    font-family: "titles";
    src: url('../../assets/fonts/Roboto-Regular.ttf');
    src: url('../../assets/fonts/Roboto-Regular.ttf') format("opentype"),
    url('../../assets/fonts/Roboto-Black.ttf') format("opentype"),
    url('../../assets/fonts/Roboto-BlackItalic.ttf') format("opentype"),
    url('../../assets/fonts/Roboto-BlackItalic.ttf') format("opentype"),
    url('../../assets/fonts/Roboto-Bold.ttf') format("opentype"),
    url('../../assets/fonts/Roboto-Medium.ttf') format("opentype"),
    url('../../assets/fonts/Roboto-MediumItalic.ttf') format("opentype"),
    url('../../assets/fonts/Roboto-BoldItalic.ttf') format("opentype"),
    url('../../assets/fonts/Roboto-Light.ttf') format("opentype"),
    url('../../assets/fonts/Roboto-LightItalic.ttf') format("opentype");
}


body, nav {
    margin: 0;
    font-size: 16pt;
    font-family: body, serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: titles, serif;
}

.home {
    background: url(../images/LABO_2016_exter@Jean_PUYO.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.btnGroup {
    padding-top: 19vh;
}

nav {
    font-weight: bold;
}

.labo {
    font-size: 20pt;
}
.sectionSpace {
    margin-top: $sectionSpace;
}

.rebondisstp {
    display: inline-block;
    animation: bounce 0.35s ease infinite alternate;
}

@keyframes bounce{ from {transform: translateY(0);} to {transform: translateY(-20px);}}

input[type="date"] {
    position: relative;
}

input[type="date"]:after {
    content: "\25BC";
    color: #555;
    padding: 0 5px;
}

input[type="date"]:hover:after {
    color: #bf1400;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

input[type="date"]::-webkit-inner-spin-button {
    z-index: 1;
}

input[type="date"]::-webkit-clear-button {
    z-index: 1;
}

.calendrier, .affichage, .lancement {
    height: 6vh;
}
