{% extends 'base.html.twig' %}

{% block title %}Nouveau reporting{% endblock %}

{% block body %}
    <h1>Créer un nouveau reporting</h1>

    {{ include('retour_event/_form.html.twig') }}

    <a href="{{ path('retour_event_index') }}">Retour à la liste du reporting</a>
{% endblock %}
