<h1>RetourEvent index</h1>

<ul>
    <li>
        Le taux de retour pour cet évènement est de {{ retour.nbreinscritsevenement * 100 / retour.nbremailinvitationevenement}} %.
    </li>
    <li>
        Le taux de transformation pour cet évènement est de {{   retour.presentsevenement * 100 / retour.nbreinscritsevenement}}%.
    </li>

</ul>