
<p>Bonjour
    {{ user.firstname }}
    {{ user.name }}
</p>
<p>Vous avez participez a {{ event.nom }} et nous aimerions avoir vos retour sur cet évènement</p>
<p>Cliquez <a href="registration.html.twig">ici</a> pour accéder au formulaire</p>


